html {
    scroll-behavior: smooth;
    --color-primary: #00b7ff;
    --color-secondary: #002451;
    --color-tertiary: #FFD700;
    scroll-behavior: smooth;
}

body {
    background-color: #f0f9ff;
}

.bg-move {
    --bg-size: 400%;
    background: linear-gradient(90deg,
            var(--color-secondary),
            var(--color-primary),
            var(--color-secondary)) 0 0 / var(--bg-size) 100%;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    animation: move-bg 8s infinite linear;
}

@keyframes move-bg {
    to {
        background-position: var(--bg-size) 0;
    }
}

.n-button.button-underline-slide>.n-button__content {
    background-image: linear-gradient(var(--color-primary), var(--color-primary));
    background-position: 0 100%;
    background-size: 0 2px;
    transition: background-size 200ms;
    background-repeat: no-repeat;
    padding-bottom: 2px;
}

.n-button.button-underline-slide:hover>.n-button__content {
    background-size: 100% 2px
}