html,
body {
  font-family: 'Nunito Sans', sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Syne', sans-serif !important;
}

.bg-move {
  --bg-size: 400%;
  background: linear-gradient(
      90deg,
      var(--color-highlight),
      var(--color-primary),
      var(--color-highlight)
    )
    0 0 / var(--bg-size) 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: move-bg 8s infinite linear;
}

@keyframes move-bg {
  to {
    background-position: var(--bg-size) 0;
  }
}
